<!-- <h2>Hello my name is {{ name }}</h2>
<p [innerText]="para"></p>
<p [hidden]="hide">This will be hidden when you press the button below</p>
<button (click)="testFunction()">Button</button>

<form action="" name="aaa">
  <input type="text" name="a" [(ngModel)]="twoway" #ctrl="ngModel" />
</form>
<p>{{ twoway }}</p>

<div class="card">
  <h4 id="id">1</h4>
  <h3 id="name">AAA</h3>
  <p id="gender">male</p>
</div>
<hr /> -->
<!-- <app-people-card> </app-people-card> -->
<app-input-practice> </app-input-practice>
